*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(115, 166, 127, 0.604);
}

h1{
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

form{
    display: flex;
    flex-direction: column;
    border: 2px solid indigo;
    border-radius: 20px;
    background-color: rgba(233, 150, 122, 0.608);
    height: 300px;
    width: 300px;
    justify-content: center;
    padding: 10px;
}

.input{
    margin: 10px;
}

button{
    width: 100px;
    align-self: center;
    border: none;
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    border-radius: 10px;
}